@font-face {
    font-family: RobotoBlack;
    src: url(../assets/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../assets/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../assets/Roboto-Thin.ttf);
}
