.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: rgb(50, 50, 50);
    color: white;
    opacity: .9;
    transition: opacity .3s;
    border-radius: 15px;
    width: 100%;
    &:hover {
        opacity: 1;
    }
    padding: {
        left: .1em;
        right: .1em;
        top: .5em;
        bottom: .5em;
    }
}

footer {
    position: absolute;
    bottom: 0;
}

.drag {
    background: white;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    opacity: .1;
    border-radius: 5px;
}

.text-white {
    color: white;
}

.side {
    display: flex;
    justify-content: space-around;
    min-width: 7em;
    padding: .5em;
}

.btn {
    text-align: center;
    width: 1.5em;
    border-radius: .2em;
    transition: all .2s;
    cursor: pointer;
    padding: .2em;
    &:hover {
        background: rgba($color: white, $alpha: .1)
    }
    vertical-align: middle;
}

.active {
    background: rgba($color: white, $alpha: .2);
}

.fa {
    line-height: .9em;
    font-size: 1.8em;
}

.viewer {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.md-icon-button {
    border-radius: 5px;
    .md-ripple {
        border-radius: 5px;
    }
}

.input {
    width: 100%;
    .input-text {
        width: 100%;
        font-size: 1.5em;
        border: none;
        background: rgba($color: white, $alpha: .98);
        color: rgba($color: black, $alpha: .8);
        border-radius: 5px;
        outline: none;
        padding: {
            left: .5em;
            right: .5em;
            top: .1em;
            bottom: .1em;
        }
    }
}
